@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";
:root{ 
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.topheading h5 {
  text-align: center;
font-size: 13px;
font-weight:300;
text-transform: uppercase;

}
.child span{
  display: inline-block;
}


@theme {
 --font-cascadia:"Cascadia Mono", sans-serif ;

}